/* BLOCK TITLE
================================================== */
.block_title { position: relative; font-size: 24px; margin-bottom: 40px; }
.block_title:after { position: absolute; bottom: -11px; left: 0; text-align: center; width: 66px; height: 2px; background: #ff4040; content: " "; }
.block_title.centered { text-align: center; }
.block_title.centered:after { position: absolute; bottom: -11px; left: 0; right: 0; margin-left: auto; margin-right: auto; text-align: center; width: 139px; height: 2px; background: #ff4040; content: " "; }

/* SPACE
================================================== */
.space_10 { clear: both; width: 100%; height: 10px; }
.space_20 { clear: both; width: 100%; height: 20px; }
.space_30 { clear: both; width: 100%; height: 30px; }
.space_40 { clear: both; width: 100%; height: 40px; }

/* BUTTONS
================================================== */
.btn-impulse { background: #ff4040; color: #ffffff; font-size: 12px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
.btn-impulse:hover { background: #ff2727; color: #ffffff; }
.btn-impulse.btn-impulse-rounded { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.btn-impulse.btn-impulse-3d { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border-bottom: 4px solid #ff0d0d; }
.btn-impulse.btn-impulse-light { background: #efefef; color: #666; }
.btn-impulse.btn-impulse-light:hover { background: #e8e8e8; }
.btn-impulse.btn-impulse-dark { background: #555555; color: #ffffff; }
.btn-impulse.btn-impulse-dark:hover { background: #4e4e4e; }
.btn-impulse.btn-impulse-dark.btn-impulse-3d { border-bottom: 4px solid #3f3f3f; }

/* DROPCAPS
================================================== */
.dropcap { display: inline-block; float: left; width: 45px; background: #efefef; color: #707070; font-weight: bold; font-size: 23px; margin-right: 7px; padding: 9px; text-align: center; line-height: 27px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.dropcap.dark { background: #555; color: #fff; }
.dropcap.active { background: #ff4040; color: #fff; }
.dropcap.circle { border-radius: 50%; }

/* TEXT HIGHLIGHTS
================================================== */
.highlight { background: #ff4040; color: #fff; padding: 4px 5px; }
.highlight.dark { background: #555; color: #fff; }
.highlight.light { background: #efefef; color: #666; }

/* PROGRESS BARS
================================================== */
.progress-heading { font-size: 14px; margin-bottom: 0px; }
.progress-heading span { float: right; }

.progress { background: #e9e9e9; box-shadow: none; border-radius: 0; }
.progress.rounded { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.progress.small { height: 15px; }
.progress.mini { height: 7px; }
.progress .progress-bar { background: #ff4040; }

/* TESTIMONIALS
================================================== */
.testimonial { clear: both; }
.testimonial .testimonial_text { position: relative; background: #efefef; padding: 15px; font-size: 14px; font-style: italic; }
.testimonial .testimonial_text:after { position: absolute; bottom: -10px; left: 24px; width: 0; height: 0; border-style: solid; border-width: 10px 10px 0 10px; border-color: #efefef transparent transparent transparent; content: " "; }
.testimonial .testimonial_author img { float: left; width: 55px; height: 55px; border-radius: 50%; margin-top: 20px; margin-left: 5px; }
.testimonial .testimonial_author .details { float: left; margin-top: 30px; margin-left: 10px; }
.testimonial .testimonial_author .details em { color: #ff4040; }
.testimonial.dark .testimonial_text { background: #555; color: #fff; }
.testimonial.dark .testimonial_text:after { bottom: -10px; border-color: #555 transparent transparent transparent; }

/* ACCORDION
================================================== */
.panel { background: #ffffff; border-radius: 0; border: none; box-shadow: none; }
.panel .panel-heading { border-bottom: none; }
.panel .panel-title a { position: relative; display: block; text-decoration: none; outline: 0; }
.panel .panel-title a:after { position: absolute; top: 0; right: 0; font-family: "FontAwesome"; font-size: 23px; content: "\f0d7"; background: #ff4040; width: 30px; height: 30px; }
.panel .panel-title a:after { color: #fff; text-align: center; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.panel .panel-title a.collapsed:after { content: "\f0da"; }

/* TABS
================================================== */
.tabs ul.nav li a { -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; background: #f8f8f8; font-size: 14px; font-weight: 600; padding: 12px 20px; border-bottom: 1px solid #ddd; color: #707070; outline: none; }
.tabs ul.nav li.active a { background: #fff; color: #ff4040; border-bottom: 1px solid #fff; }
.tabs .tab-content { border: 1px solid #ddd; border-top: none; padding: 15px; }

/* SOCIAL ICONS
================================================== */
a.social_icon { display: block; width: 40px; height: 40px; background-position: left top; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-in-out; }
a.social_icon:hover { background-position: left bottom; }
a.social_icon.facebook { background-image: url("../images/social_icons/facebook.png"); }
a.social_icon.twitter { background-image: url("../images/social_icons/twitter.png"); }
a.social_icon.pinterest { background-image: url("../images/social_icons/pinterest.png"); }
a.social_icon.linkedin { background-image: url("../images/social_icons/linkedin.png"); }
a.social_icon.youtube { background-image: url("../images/social_icons/youtube.png"); }
a.social_icon.tumblr { background-image: url("../images/social_icons/tumblr.png"); }
a.social_icon.behance { background-image: url("../images/social_icons/behance.png"); }
a.social_icon.skype { background-image: url("../images/social_icons/skype.png"); }
a.social_icon.aim { background-image: url("../images/social_icons/aim.png"); }
a.social_icon.digg { background-image: url("../images/social_icons/digg.png"); }
a.social_icon.dribbble { background-image: url("../images/social_icons/dribbble.png"); }
a.social_icon.reddit { background-image: url("../images/social_icons/reddit.png"); }
a.social_icon.paypal { background-image: url("../images/social_icons/paypal.png"); }
a.social_icon.google_plus { background-image: url("../images/social_icons/google_plus.png"); }
a.social_icon.forrst { background-image: url("../images/social_icons/forrst.png"); }
a.social_icon.soundcloud { background-image: url("../images/social_icons/soundcloud.png"); }
a.social_icon.dropbox { background-image: url("../images/social_icons/dropbox.png"); }
a.social_icon.yahoo { background-image: url("../images/social_icons/yahoo.png"); }
a.social_icon.vimeo { background-image: url("../images/social_icons/vimeo.png"); }

/* ALERTS
================================================== */
.alert { border: none; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
.alert.alert-success { border-left: 4px solid #3c763d; }
.alert.alert-info { border-left: 4px solid #31708f; }
.alert.alert-warning { border-left: 4px solid #8a6d3b; }
.alert.alert-danger { border-left: 4px solid #a94442; }

/* PRICING TABLES
================================================== */
.pricing { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); padding: 0px; }
.pricing:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
.pricing .pricing_heading { position: relative; }
.pricing .pricing_heading h4 { background: #ff4040; color: #fff; text-align: center; padding-top: 10px; padding-bottom: 10px; margin-bottom: 0; }
.pricing .pricing_heading .price_block { background: #fcfcfc; text-align: center; padding-top: 10px; padding-bottom: 15px; border-bottom: 1px solid #f3f3f3; }
.pricing .pricing_heading .price_block .price { display: inline-block; font-size: 37px; color: #707070; border-bottom: 1px dashed #ccc; margin-bottom: 10px; }
.pricing .pricing_heading .price_block .period { font-size: 15px; }
.pricing .pricing_content ul { list-style: none; }
.pricing .pricing_content ul li { text-align: center; border-bottom: 1px solid #f3f3f3; padding: 10px; }
.pricing .pricing_footer { text-align: center; padding-top: 10px; padding-bottom: 20px; }

/* FORM CONTROLS
================================================== */
.form-control { box-shadow: 0 2px 0 #e5e5e5 inset; border: 1px solid #ccc; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

.form-control:hover { box-shadow: 0 2px 0 #e5e5e5 inset; border: 1px solid #aeaeae; }

.form-control:focus { box-shadow: 0 2px 0 #e5e5e5 inset; border: 1px solid #aeaeae; }

/* PAGINATION
================================================== */
.pagination li a { background: #f0f0f1; color: #a9a9ab; border: none; margin-right: 10px; padding: 10px 18px; font-size: 15px; font-weight: bold; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.pagination li a:hover { background: #ff4040; color: #fff; }
.pagination li.active a { background: #ff4040; }
.pagination li.active a:hover { background: #ff4040; }

/* PARALLAX
================================================== */
.parallax_section { position: relative; width: 100%; height: 350px; overflow: hidden; margin: 0 auto; background-size: cover; background-repeat: repeat-y; background-position: top center; color: #fff; margin-bottom: 30px; z-index: 0; }
.parallax_section .parallax_content { position: relative; z-index: 100; text-align: center; }
.parallax_section .parallax_content .block_title { position: relative; font-size: 28px; text-align: center; color: #fff; margin-top: 46px; margin-bottom: 30px; z-index: 200; }
.parallax_section .parallax_content .block_title:after { position: absolute; bottom: -15px; left: 0; right: 0; margin-left: auto; margin-right: auto; text-align: center; width: 139px; height: 2px; background: #ff4040; content: " "; }
.parallax_section .parallax_content p.content { text-align: center; }
.parallax_section .parallax_content img.avatar { display: inline-block; width: 69px; height: 69px; padding: 2px; border-radius: 50%; border: 2px solid #ffffff; margin-bottom: 17px; }
.parallax_section .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 400px; background: rgba(0, 0, 0, 0.6); overflow: hidden; z-index: 0; }

/* parallax backgrounds */
.parallax_section.bg { background: url("../images/parallax/parallax1.jpg") 50% -100px no-repeat fixed; }
.parallax_section.bg2 { background: url("../images/parallax/parallax2.jpg") 50% -100px no-repeat fixed; }

/* PARALLAX VIDEO
================================================== */
.parallax_video { position: relative; width: 100%; height: 480px; background: rgba(0, 0, 0, 0.7); }
.parallax_video .player { display: block; font-size: 0; text-indent: -4000px; }
.parallax_video .parallax_video_content { position: absolute; top: 0; left: 0; width: 100%; height: 480px; color: #fff; text-align: center; overflow: hidden; }
.parallax_video .parallax_video_content .block_title { position: relative; font-size: 28px; text-align: center; color: #fff; margin-top: 80px; z-index: 200; }
.parallax_video .parallax_video_content .block_title:after { position: absolute; bottom: -15px; left: 0; right: 0; margin-left: auto; margin-right: auto; text-align: center; width: 139px; height: 2px; background: #ff4040; content: " "; }
.parallax_video .parallax_video_content .caption_transparent_bg { display: inline-block; background: rgba(0, 0, 0, 0.4); padding: 10px; color: #fff; }
.parallax_video .parallax_video_content .caption_colour_bg { display: inline-block; background: #ff4040; padding: 10px; color: #fff; }
