@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,700,900");
@import url("../plugins/bootstrap/css/bootstrap.css");
@import url("../plugins/jquery-ui/css/jquery-ui.css");
@import url("../plugins/font-awesome/css/font-awesome.css");
@import url("../plugins/superfish/css/superfish.css");
@import url("../plugins/fancybox/css/fancybox.css");
@import url("../plugins/owl-carousel/owl.carousel.css");
@import url("../plugins/ytplayer/css/YTPlayer.css");
@import url("../plugins/sidr/css/jquery.sidr.css");
@import url("../plugins/revolution-slider/css/settings.css");
@import url("../plugins/revolution-slider/css/layers.css");
@import url("../plugins/revolution-slider/css/navigation.css");
@import url("../plugins/revolution-slider/css/navigation-skins/hesperiden.css");
@import url("shortcodes.css");
* { margin: 0px; padding: 0px; }

body { font-family: Arial, Tahoma, sans-serif; font-size: 12px; background: #fff; color: #929292; margin: 0; padding: 0; }

body.boxed { padding: 0; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); margin-left: auto !important; margin-right: auto !important; }
body.boxed.bg { background: url("../images/bg_patterns/bg.png") repeat; }
body.boxed.bg2 { background: url("../images/bg_patterns/bg2.png") repeat; }
body.boxed.bg3 { background: url("../images/bg_patterns/bg3.png") repeat; }
body.boxed.bg4 { background: url("../images/bg_patterns/bg4.png") repeat; }
body.boxed.bg5 { background: url("../images/bg_patterns/bg5.png") repeat; }
body.boxed.bg6 { background: url("../images/bg_patterns/bg6.png") repeat; }
body.boxed.bg7 { background: url("../images/bg_patterns/bg7.png") repeat; }
body.boxed.bg8 { background: url("../images/bg_patterns/bg8.png") repeat; }
body.boxed.bg9 { background: url("../images/bg_patterns/bg9.png") repeat; }
body.boxed.bg10 { background: url("../images/bg_patterns/bg10.png") repeat; }

body .page { background: #fff; padding-top: 30px; padding-bottom: 30px; }

h1, h2, h3, h4, h5, h6 { font-family: Roboto, Verdana, sans-serif; font-weight: normal; color: #707070; }

h1 { font-size: 26px; line-height: 30px; }

h2 { font-size: 11px;  }

h3 { font-size: 22px; line-height: 32px; }

h4 { font-size: 20px; line-height: 30px; }

h5 { font-size: 18px; line-height: 26px; }

h6 { font-size: 16px; line-height: 24px; }

.no_padding { padding: 0 !important; margin: 0 !important; }

.no_padding_left { padding-left: 0 !important; margin-left: 0 !important; }

.no_padding_right { padding-right: 0 !important; margin-right: 0 !important; }

.header_sticky { margin: 0 auto; }

.header_sticky #nav_bar { width: 100%; background: white; box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1); border-bottom: 1px solid #e0e0e0; z-index: 1000; }

body.boxed .header_sticky #nav_bar { width: 100%; max-width: 1170px; margin: 0 auto; }

/* THEME OPTIONS
================================================== */
.theme_options_panel { position: fixed; top: 100px; left: -205px; background: #f0f0f0; width: 200px; height: 450px; cursor: pointer; z-index: 1000; }
.theme_options_panel .heading { display: table-cell; background: #555; width: 300px; height: 52px; font-size: 16px; color: #fff; vertical-align: middle; text-align: center; }
.theme_options_panel .options_content { padding: 15px; }
.theme_options_panel .options_content .options_title { background: #ccc; color: #555; padding: 10px 10px 8px 10px; margin-top: 5px; margin-bottom: 5px; font-weight: bold; }
.theme_options_panel .options_content a.layout { display: inline-block; width: 80px; background: #555; color: #fff; padding: 10px 15px; text-decoration: none; text-align: center; outline: 0; }
.theme_options_panel .options_content a.layout:hover { background: #333; }
.theme_options_panel .options_content a.layout.wide { margin-right: 10px; }
.theme_options_panel .options_content a.scheme { display: inline-block; width: 29px; height: 29px; margin-right: 4px; margin-bottom: 5px; border: 2px solid #ccc; outline: 0; }
.theme_options_panel .options_content a.scheme.red { background: #ff4040; }
.theme_options_panel .options_content a.scheme.green { background: #59b200; }
.theme_options_panel .options_content a.scheme.yellow { background: #e4ac1a; }
.theme_options_panel .options_content a.scheme.blue { background: #467dbe; }
.theme_options_panel .options_content a.scheme.orange { background: #ff6600; }
.theme_options_panel .options_content a.scheme.ocean { background: #1abc9c; }
.theme_options_panel .options_content a.scheme.pink { background: #ed6280; }
.theme_options_panel .options_content a.scheme.darkblue { background: #507191; }
.theme_options_panel .options_content a.scheme.purple { background: #9c59b6; }
.theme_options_panel .options_content a.scheme.brown { background: #8c7e72; }
.theme_options_panel .options_content a.bg_pattern { display: inline-block; width: 25px; height: 25px; margin-right: 8px; margin-bottom: 10px; outline: 0; }
.theme_options_panel .options_content a.bg_pattern img { border: 2px solid #ccc; }
.theme_options_panel .options_content a.reset { display: block; width: 120px; background: #555; color: #fff; font-size: 10px; margin-top: 5px; padding: 5px 10px; text-align: center; text-decoration: none; outline: 0; }
.theme_options_panel .options_content a.reset:hover { background: #333; }
.theme_options_panel .option_btn { position: absolute; top: 0; right: -53px; width: 53px; height: 52px; background: #333; color: #fff; text-align: center; padding-top: 10px; font-size: 23px; }

/* HEADER - V1
================================================== */
#header.v1 #top_bar { height: 100%; background: #555555; margin: 0; padding: 0; }
#header.v1 #top_bar .email_block { padding-top: 13px; }
#header.v1 #top_bar .email_block .email_icon { width: 34px; height: 26px; background: #ff4040; margin-top: 3px; text-align: center; padding: 7px 9px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#header.v1 #top_bar .email_block .email { margin-left: 5px; color: #fff; }
#header.v1 #top_bar .phone_block { padding-top: 13px; }
#header.v1 #top_bar .phone_block .phone_icon { width: 34px; height: 26px; background: #ff4040; margin-top: 3px; text-align: center; padding: 7px 9px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#header.v1 #top_bar .phone_block .phone { margin-left: 5px; color: #fff; }
#header.v1 #top_bar .social_icons { text-align: right; }
#header.v1 #top_bar .social_icons ul li { display: inline-block; height: 45px; border-left: 1px solid #3e3e3e; border-right: 1px solid #3e3e3e; margin-bottom: -15px; margin-right: -5px; }
#header.v1 #top_bar .social_icons ul li a { display: block; width: 45px; height: 45px; border-left: 1px solid #616161; padding-top: 20px; }
#header.v1 #top_bar .social_icons ul li a:hover { height: 45px; -moz-transition: top 0.2s ease-out, background 0.5s ease-out 0.2s; -o-transition: top 0.2s ease-out, background 0.5s ease-out 0.2s; -webkit-transition: top 0.2s ease-out, background 0.5s ease-out; -webkit-transition-delay: 0s, 0.2s; transition: top 0.2s ease-out, background 0.5s ease-out 0.2s; }
#header.v1 #top_bar .social_icons ul li a.facebook { background: url("../images/social_icons/header_v1/facebook.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.facebook:hover { background: url("../images/social_icons/header_v1/facebook.png") center center #3d599b no-repeat; }
#header.v1 #top_bar .social_icons ul li a.twitter { background: url("../images/social_icons/header_v1/twitter.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.twitter:hover { background: url("../images/social_icons/header_v1/twitter.png") center center #00abee no-repeat; }
#header.v1 #top_bar .social_icons ul li a.pinterest { background: url("../images/social_icons/header_v1/pinterest.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.pinterest:hover { background: url("../images/social_icons/header_v1/pinterest.png") center center #cb2028 no-repeat; }
#header.v1 #top_bar .social_icons ul li a.linkedin { background: url("../images/social_icons/header_v1/linkedin.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.linkedin:hover { background: url("../images/social_icons/header_v1/linkedin.png") center center #0e76a8 no-repeat; }
#header.v1 #top_bar .social_icons ul li a.youtube { background: url("../images/social_icons/header_v1/youtube.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.youtube:hover { background: url("../images/social_icons/header_v1/youtube.png") center center #c4302b no-repeat; }
#header.v1 #top_bar .social_icons ul li a.tumblr { background: url("../images/social_icons/header_v1/tumblr.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.tumblr:hover { background: url("../images/social_icons/header_v1/tumblr.png") center center #34526f no-repeat; }
#header.v1 #top_bar .social_icons ul li a.behance { background: url("../images/social_icons/header_v1/behance.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.behance:hover { background: url("../images/social_icons/header_v1/behance.png") center center #18a3fe no-repeat; }
#header.v1 #top_bar .social_icons ul li a.skype { background: url("../images/social_icons/header_v1/skype.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.skype:hover { background: url("../images/social_icons/header_v1/skype.png") center center #18b7f1 no-repeat; }
#header.v1 #top_bar .social_icons ul li a.aim { background: url("../images/social_icons/header_v1/aim.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.aim:hover { background: url("../images/social_icons/header_v1/aim.png") center center #e95a00 no-repeat; }
#header.v1 #top_bar .social_icons ul li a.digg { background: url("../images/social_icons/header_v1/digg.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.digg:hover { background: url("../images/social_icons/header_v1/digg.png") center center #2882c6 no-repeat; }
#header.v1 #top_bar .social_icons ul li a.dribbble { background: url("../images/social_icons/header_v1/dribbble.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.dribbble:hover { background: url("../images/social_icons/header_v1/dribbble.png") center center #ef5b92 no-repeat; }
#header.v1 #top_bar .social_icons ul li a.reddit { background: url("../images/social_icons/header_v1/reddit.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.reddit:hover { background: url("../images/social_icons/header_v1/reddit.png") center center #bfd2e7 no-repeat; }
#header.v1 #top_bar .social_icons ul li a.paypal { background: url("../images/social_icons/header_v1/paypal.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.paypal:hover { background: url("../images/social_icons/header_v1/paypal.png") center center #32689a no-repeat; }
#header.v1 #top_bar .social_icons ul li a.google_plus { background: url("../images/social_icons/header_v1/google_plus.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.google_plus:hover { background: url("../images/social_icons/header_v1/google_plus.png") center center #d94a39 no-repeat; }
#header.v1 #top_bar .social_icons ul li a.forrst { background: url("../images/social_icons/header_v1/forrst.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.forrst:hover { background: url("../images/social_icons/header_v1/forrst.png") center center #5b9a68 no-repeat; }
#header.v1 #top_bar .social_icons ul li a.soundcloud { background: url("../images/social_icons/header_v1/soundcloud.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.soundcloud:hover { background: url("../images/social_icons/header_v1/soundcloud.png") center center #db5708 no-repeat; }
#header.v1 #top_bar .social_icons ul li a.dropbox { background: url("../images/social_icons/header_v1/dropbox.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.dropbox:hover { background: url("../images/social_icons/header_v1/dropbox.png") center center #2d76be no-repeat; }
#header.v1 #top_bar .social_icons ul li a.yahoo { background: url("../images/social_icons/header_v1/yahoo.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.yahoo:hover { background: url("../images/social_icons/header_v1/yahoo.png") center center #ab64bc no-repeat; }
#header.v1 #top_bar .social_icons ul li a.vimeo { background: url("../images/social_icons/header_v1/vimeo.png") center center no-repeat; }
#header.v1 #top_bar .social_icons ul li a.vimeo:hover { background: url("../images/social_icons/header_v1/vimeo.png") center center #44bbff no-repeat; }

/* HEADER - V2
================================================== */
#header.v2 #top_bar { height: 100%; background: #ffffff; border-bottom: 1px solid #dedede; margin: 0; padding: 0; }
#header.v2 #top_bar .email_block { padding-top: 13px; }
#header.v2 #top_bar .email_icon { width: 34px; height: 26px; background: #969696; margin-top: 3px; text-align: center; padding: 7px 9px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#header.v2 #top_bar .email { font-size: 12px; color: #555555; margin-left: 5px; }
#header.v2 #top_bar .phone_block { padding-top: 13px; }
#header.v2 #top_bar .phone_icon { width: 34px; height: 26px; background: #969696; margin-top: 3px; text-align: center; padding: 7px 9px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#header.v2 #top_bar .phone { font-size: 12px; color: #555555; margin-left: 5px; }
#header.v2 #top_bar .social_icons { text-align: right; }
#header.v2 #top_bar .social_icons ul li { display: inline-block; height: 45px; border-right: 1px solid #dedede; margin-bottom: -15px; margin-right: -5px; }
#header.v2 #top_bar .social_icons ul li:first-child { border-left: 1px solid #dedede; }
#header.v2 #top_bar .social_icons ul li a { display: block; width: 45px; height: 45px; padding-top: 20px; }
#header.v2 #top_bar .social_icons ul li a:hover { -moz-transition: top 0.2s ease-out, background 0.5s ease-out 0.2s; -o-transition: top 0.2s ease-out, background 0.5s ease-out 0.2s; -webkit-transition: top 0.2s ease-out, background 0.5s ease-out; -webkit-transition-delay: 0s, 0.2s; transition: top 0.2s ease-out, background 0.5s ease-out 0.2s; }
#header.v2 #top_bar .social_icons ul li a.facebook { background: url("../images/social_icons/header_v2/facebook.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.facebook:hover { background: url("../images/social_icons/header_v2/facebook_hover.png") center center #3d599b no-repeat; }
#header.v2 #top_bar .social_icons ul li a.twitter { background: url("../images/social_icons/header_v2/twitter.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.twitter:hover { background: url("../images/social_icons/header_v2/twitter_hover.png") center center #00abee no-repeat; }
#header.v2 #top_bar .social_icons ul li a.pinterest { background: url("../images/social_icons/header_v2/pinterest.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.pinterest:hover { background: url("../images/social_icons/header_v2/pinterest_hover.png") center center #cb2028 no-repeat; }
#header.v2 #top_bar .social_icons ul li a.linkedin { background: url("../images/social_icons/header_v2/linkedin.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.linkedin:hover { background: url("../images/social_icons/header_v2/linkedin_hover.png") center center #0072a4 no-repeat; }
#header.v2 #top_bar .social_icons ul li a.youtube { background: url("../images/social_icons/header_v2/youtube.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.youtube:hover { background: url("../images/social_icons/header_v2/youtube_hover.png") center center #c4302b no-repeat; }
#header.v2 #top_bar .social_icons ul li a.tumblr { background: url("../images/social_icons/header_v2/tumblr.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.tumblr:hover { background: url("../images/social_icons/header_v2/tumblr_hover.png") center center #34526f no-repeat; }
#header.v2 #top_bar .social_icons ul li a.behance { background: url("../images/social_icons/header_v2/behance.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.behance:hover { background: url("../images/social_icons/header_v2/behance_hover.png") center center #18a3fe no-repeat; }
#header.v2 #top_bar .social_icons ul li a.skype { background: url("../images/social_icons/header_v2/skype.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.skype:hover { background: url("../images/social_icons/header_v2/skype_hover.png") center center #18b7f1 no-repeat; }
#header.v2 #top_bar .social_icons ul li a.aim { background: url("../images/social_icons/header_v2/aim.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.aim:hover { background: url("../images/social_icons/header_v2/aim_hover.png") center center #e95a00 no-repeat; }
#header.v2 #top_bar .social_icons ul li a.digg { background: url("../images/social_icons/header_v2/digg.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.digg:hover { background: url("../images/social_icons/header_v2/digg_hover.png") center center #2882c6 no-repeat; }
#header.v2 #top_bar .social_icons ul li a.dribbble { background: url("../images/social_icons/header_v2/dribbble.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.dribbble:hover { background: url("../images/social_icons/header_v2/dribbble_hover.png") center center #ef5b92 no-repeat; }
#header.v2 #top_bar .social_icons ul li a.reddit { background: url("../images/social_icons/header_v2/reddit.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.reddit:hover { background: url("../images/social_icons/header_v2/reddit_hover.png") center center #bfd2e7 no-repeat; }
#header.v2 #top_bar .social_icons ul li a.paypal { background: url("../images/social_icons/header_v2/paypal.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.paypal:hover { background: url("../images/social_icons/header_v2/paypal_hover.png") center center #32689a no-repeat; }
#header.v2 #top_bar .social_icons ul li a.google_plus { background: url("../images/social_icons/header_v2/google_plus.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.google_plus:hover { background: url("../images/social_icons/header_v2/google_plus_hover.png") center center #d94a39 no-repeat; }
#header.v2 #top_bar .social_icons ul li a.forrst { background: url("../images/social_icons/header_v2/forrst.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.forrst:hover { background: url("../images/social_icons/header_v2/forrst_hover.png") center center #5b9a68 no-repeat; }
#header.v2 #top_bar .social_icons ul li a.soundcloud { background: url("../images/social_icons/header_v2/soundcloud.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.soundcloud:hover { background: url("../images/social_icons/header_v2/soundcloud_hover.png") center center #db5708 no-repeat; }
#header.v2 #top_bar .social_icons ul li a.dropbox { background: url("../images/social_icons/header_v2/dropbox.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.dropbox:hover { background: url("../images/social_icons/header_v2/dropbox_hover.png") center center #2d76be no-repeat; }
#header.v2 #top_bar .social_icons ul li a.yahoo { background: url("../images/social_icons/header_v2/yahoo.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.yahoo:hover { background: url("../images/social_icons/header_v2/yahoo_hover.png") center center #ab64bc no-repeat; }
#header.v2 #top_bar .social_icons ul li a.vimeo { background: url("../images/social_icons/header_v2/vimeo.png") center center no-repeat; }
#header.v2 #top_bar .social_icons ul li a.vimeo:hover { background: url("../images/social_icons/header_v2/vimeo_hover.png") center center #44bbff no-repeat; }

/* HEADER - NAVIGATION
================================================== */
#header #nav_bar { position: relative; background: #fff; padding-top: 15px; padding-bottom: 22px; }
#header #nav_bar a.logo { display: inline-block; margin-top: 5px; }
#header #nav_bar ul#nav { position: absolute; top: 2px; right: 4px; }
#header #nav_bar ul#nav li { margin-right: 5px; z-index: 500; }
#header #nav_bar ul#nav li a { display: block; padding: 15px; font-family: Roboto, Verdana, sans-serif; font-size: 12px; font-weight: bold; color: #707070; text-decoration: none; }
#header #nav_bar ul#nav li.active { background: #ff4040; }
#header #nav_bar ul#nav li.active a { color: #fff; }
#header #nav_bar ul#nav li.active a:hover { background: #ff4040; }
#header #nav_bar ul#nav li.active ul li a { color: #707070; }
#header #nav_bar ul#nav li.active ul li a:hover { color: #fff; }
#header #nav_bar ul#nav li.sfHover ul li a:hover { color: #fff; }
#header #nav_bar ul#nav li ul li a { border-bottom: 1px solid #f3f3f3; }
#header #nav_bar ul#nav li ul li a.sf-with-ul { position: relative; }
#header #nav_bar ul#nav li ul li a.sf-with-ul:after { position: absolute; top: 20px; right: 12px; content: "\f105"; font-family: FontAwesome; }
#header #nav_bar ul#nav li ul li:last-child a { border-bottom: none; }
#header #nav_bar ul#nav li ul li ul li { border-bottom: 1px solid #f3f3f3; }
#header #nav_bar ul#nav li ul li ul li:last-child { border-bottom: none; }
#header #nav_bar ul#nav.sf-menu ul li a:hover { background: #ff4040; }
#header #nav_bar ul#nav.sf-menu ul ul li:hover { background: #ff4040; }
#header #nav_bar #mobile_menu { display: none; }
#header #nav_bar #sidr .headerbutton { cursor: pointer; }
#header #nav_bar #sidr ul li ul li ul li a { padding-left: 45px; }

/* FEATURED BLOCK
================================================== */
#featured_block { background: url("../images/featured_bg.png") repeat; border-bottom: 1px solid #eee; padding-bottom: 2px; }
#featured_block h2 { font-size: 21px; color: #fff; }
#featured_block ul.breadcrumb { background: #fefefe; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; margin-top: 22px; }
#featured_block ul.breadcrumb li.home i { color: #ff4040; }
#featured_block ul.breadcrumb li a { font-size: 12px; color: #ff4040; font-weight: bold; }
#featured_block ul.breadcrumb li.active a { color: #999; }

/* HOME
================================================== */
#home.page { padding-top: 0; }

#home.page #slider { position: relative; width: 100%; height: auto; background: #727272; overflow: hidden; }
#home.page #slider .tp-bullets .tp-bullet { width: 12px; height: 12px; background: #000; opacity: 0.7; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; margin-right: 4px; border: none; }
#home.page #slider .tp-bullets .tp-bullet.selected { background: #ff4040; opacity: 1; }
#home.page #slider .impulse_big_red { color: #ff4040; }
#home.page #slider .tp-caption.impulse_button { background: #ff4040; }
#home.page #slider .tp-caption.impulse_button:hover { background: #ff2727; }
#home.page #slider .tp-caption.large_text { position: absolute; color: #fff; text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); font-weight: 700; font-size: 40px; line-height: 40px; font-family: Arial; }
#home.page #slider .tp-caption.large_text { margin: 0px; border-width: 0px; border-style: none; white-space: nowrap; }
#home.page #slider .tp-caption.impulse_big { font-size: 44px; line-height: 70px; font-weight: 700; font-family: "Roboto"; color: #555; text-decoration: none; padding: 5px 26px; text-shadow: none; }
#home.page #slider .tp-caption.impulse_big { background-color: rgba(255, 255, 255, 0.8); border-width: 0px; border-color: black; border-style: none; }
#home.page #slider .tp-caption.impulse_big_dark { font-size: 44px; line-height: 70px; font-weight: 700; font-family: "Roboto"; color: #fff; text-decoration: none; }
#home.page #slider .tp-caption.impulse_big_dark { padding: 5px 26px; text-shadow: none; background-color: #555; border-width: 0px; border-color: black; border-style: none; }
#home.page #slider .tp-caption.impulse_small { font-size: 24px; line-height: 38px; font-weight: 400; font-family: "Roboto"; color: #555; text-decoration: none; padding: 3px 18px; }
#home.page #slider .tp-caption.impulse_small { text-shadow: none; text-align: left; background-color: rgba(255, 255, 255, 0.8); border-width: 0px; border-color: black; border-style: none; }
#home.page #slider .tp-caption.impulse_medium { font-size: 36px; line-height: 38px; font-weight: 400; font-family: "Roboto"; color: #555; text-decoration: none; padding: 3px 18px; text-shadow: none; }
#home.page #slider .tp-caption.impulse_medium { text-align: left; background-color: rgba(255, 255, 255, 0.8); border-width: 0px; border-color: black; border-style: none; }
#home.page #slider .tp-caption.impulse_medium_dark { font-size: 36px; line-height: 38px; font-weight: 400; font-family: "Roboto"; color: #fff; text-decoration: none; padding: 3px 18px; }
#home.page #slider .tp-caption.impulse_medium_dark { text-shadow: none; text-align: left; background-color: #555; border-width: 0px; border-color: black; border-style: none; }
#home.page #slider .tp-caption.impulse_button { font-size: 14px; line-height: 38px; font-weight: 700; font-family: "Roboto"; color: white; text-decoration: none; padding: 5px 44px; }
#home.page #slider .tp-caption.impulse_button { text-shadow: none; text-align: center; background: #ff4040; border-width: 0px; border-color: #f1501a; border-style: none; }
#home.page #slider .tp-caption.impulse_button:hover { background: #ed3d3d; }
#home.page #slider .tp-caption.impulse_button a { display: block; color: #fff; text-decoration: none; }
#home.page #slider .tp-caption.impulse_button_dark { font-size: 14px; line-height: 38px; font-weight: 700; font-family: "Roboto"; color: #fff; text-decoration: none; padding: 5px 44px; }
#home.page #slider .tp-caption.impulse_button_dark { text-shadow: none; text-align: center; background-color: #555; border-width: 0px; border-color: #f1501a; border-style: none; }
#home.page #slider .tp-caption.impulse_button_dark:hover { background: #4a4a4a; }
#home.page #slider .tp-caption.impulse_button_dark a { display: block; color: #fff; text-decoration: none; }

/* services */
#home.page #services { background: #f8f8f8; border-bottom: 1px solid #efefef; padding-bottom: 40px; }
#home.page #services .service { text-align: center; }
#home.page #services .service .hex_icon { position: relative; width: 80px; height: 46px; background: #555555; text-align: center; margin: 70px auto 30px auto; }
#home.page #services .service .hex_icon:before, #home.page #services .service .hex_icon:after { position: absolute; width: 0; height: 0; left: 0; content: ""; border-left: 40px solid transparent; border-right: 40px solid transparent; }
#home.page #services .service .hex_icon:before { border-bottom: 23px solid #555555; top: -23px; }
#home.page #services .service .hex_icon:after { border-top: 23px solid #555555; bottom: -23px; }
#home.page #services .service .hex_icon:hover { background: #ff4040; -moz-box-shadow: rgba(102, 102, 102, 0.6) 0 0 8px 2px; -webkit-box-shadow: rgba(102, 102, 102, 0.6) 0 0 8px 2px; box-shadow: rgba(102, 102, 102, 0.6) 0 0 8px 2px; }
#home.page #services .service .hex_icon:hover:before { border-bottom: 23px solid #ff4040; }
#home.page #services .service .hex_icon:hover:after { border-top: 23px solid #ff4040; }
#home.page #services .service .hex_icon span.icon { margin-top: 5px; font-size: 37px; color: #fff; }
#home.page #services .service h4 { font-size: 19px; font-weight: bold; }
#home.page #services .service p { font-size: 12px; color: #555555; }

/* recent work */
#home.page #recent_work { position: relative; margin-top: 10px; margin-bottom: 60px; }
#home.page #recent_work ul.flex-direction-nav { z-index: 1000; }
#home.page #recent_work ul.flex-direction-nav li a.flex-prev { position: absolute; top: -5px; left: 0; }
#home.page #recent_work ul.flex-direction-nav li a.flex-next { position: absolute; top: -5px; left: 70px; }
#home.page #recent_work ul.slides li { display: inline-block; padding-top: 10px; padding-bottom: 10px; }
#home.page #recent_work ul.slides li.flex-active-slide { padding-left: 6px; padding-right: -5px; }
#home.page #recent_work .recent_work_item { display: inline-block; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); margin-right: 9px; }
#home.page #recent_work .recent_work_item:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
#home.page #recent_work .recent_work_item img { width: 100%; }
#home.page #recent_work .recent_work_item img:hover { opacity: 0.2; }
#home.page #recent_work .recent_work_item .details { position: relative; background: #fff; margin-top: 0px; padding: 15px; }
#home.page #recent_work .recent_work_item .details h4 { margin-top: -5px; }
#home.page #recent_work .recent_work_item .details h4 a { color: #707070; font-size: 18px; text-decoration: none; }
#home.page #recent_work .recent_work_item .details h4 a:hover { color: #ff4040; }
#home.page #recent_work .recent_work_item .summary { background: #fafafa; padding: 12px 15px; }
#home.page #recent_work .recent_work_item .summary a.more { color: #666; text-decoration: none; }
#home.page #recent_work .recent_work_item .summary a.more:hover { color: #ff4040; }
#home.page #recent_work .recent_work_item .summary a.more i { font-size: 15px; margin-right: 3px; }
#home.page #recent_work .recent_work_item .summary a.likes { margin-right: 6px; color: #666; text-decoration: none; }
#home.page #recent_work .recent_work_item .summary a.likes:hover { color: #ff4040; }
#home.page #recent_work .recent_work_item .summary a.views { color: #666; text-decoration: none; }
#home.page #recent_work .recent_work_item .summary a.views:hover { color: #ff4040; }

/* happy clients */
#home.page #happy_clients { width: 100%; height: 350px; }
#home.page #happy_clients .owl-page { display: inline-block; }
#home.page #happy_clients .owl-page.active span { background: #ff4040; opacity: 1; }
#home.page #happy_clients .owl-page span { display: block; width: 12px; height: 12px; background: #ffffff; border-radius: 20px; margin: 5px 4px; opacity: 0.8; }
#home.page #happy_clients .owl-buttons .owl-prev { display: none; }
#home.page #happy_clients .owl-buttons .owl-next { display: none; }
#home.page #happy_clients a.company { color: #ff4040; }

/* company philosophy, recent news, why choose us */
#home.page #about_us #company_philosophy img.avatar { float: left; width: 72px; height: 72px; border-radius: 50%; margin-top: -5px; margin-bottom: 24px; margin-right: 25px; }
#home.page #about_us #company_philosophy .details { display: inline-block; }
#home.page #about_us #company_philosophy .details h4 { margin-top: 5px; margin-bottom: -5px; font-size: 16px; font-weight: normal; color: #777777; }
#home.page #about_us #company_philosophy .details p.position { font-size: 14px; color: #ff4040; }
#home.page #about_us #recent_news .news_item { clear: both; }
#home.page #about_us #recent_news .news_item .date { float: left; width: 68px; height: 84px; margin-right: 15px; background: #ff4040; text-align: center; padding: 7px 14px; color: #ffffff; }
#home.page #about_us #recent_news .news_item .date .day { font-size: 38px; }
#home.page #about_us #recent_news .news_item .details a.title { font-size: 16px; color: #ff4040; }
#home.page #about_us #recent_news .news_item .details a.user { font-size: 12px; color: #a3a3a3; margin-right: 10px; }
#home.page #about_us #recent_news .news_item .details a.comments { color: #a3a3a3; }
#home.page #about_us #recent_news .news_item .details p.short_excerpt { margin-top: 10px; }

/* services and skills */
#home.page #services_and_skills { margin-top: 50px; margin-bottom: 50px; background: #f8f8f8; padding-top: 24px; padding-bottom: 34px; }
#home.page #services_and_skills #what_we_offer p.summary { margin-bottom: 32px; }
#home.page #services_and_skills #what_we_offer .services .service { margin-bottom: 45px; line-height: 14px; }
#home.page #services_and_skills #what_we_offer .services .service .hex_icon { display: inline-block; position: relative; width: 45px; height: 26px; background: #ff4040; text-align: center; margin-right: 10px; }
#home.page #services_and_skills #what_we_offer .services .service .hex_icon:before, #home.page #services_and_skills #what_we_offer .services .service .hex_icon:after { position: absolute; width: 0; height: 0; left: 0; content: ""; border-left: 23px solid transparent; border-right: 23px solid transparent; }
#home.page #services_and_skills #what_we_offer .services .service .hex_icon:before { border-bottom: 13px solid #ff4040; top: -13px; }
#home.page #services_and_skills #what_we_offer .services .service .hex_icon:after { border-top: 13px solid #ff4040; bottom: -13px; }
#home.page #services_and_skills #what_we_offer .services .service .hex_icon .icon { font-size: 21px; color: #fff; margin-top: 2px; }
#home.page #services_and_skills #what_we_offer .services .service .service_label { display: inline-block; font-weight: bold; }
#home.page #services_and_skills #skills .block_title { margin-bottom: 29px; }
#home.page #services_and_skills #skills .skill .progress { margin-bottom: -10px; }

/* featured clients */
#home.page #featured_clients .block_title { text-align: center; margin-top: -10px; margin-bottom: 40px; }
#home.page #featured_clients .client { display: inline-block; padding: 1px; }
#home.page #featured_clients .client:hover { padding: 0; border: 1px solid #b2b2b2; }
#home.page #featured_clients .client img { width: 100%; }

/* ABOUT
================================================== */
#about.page img.about_img { width: 100%; }

#about.page #meet_the_team .team_member { position: relative; margin-bottom: 15px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
#about.page #meet_the_team .team_member:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
#about.page #meet_the_team .team_member img { position: relative; width: 100%; }
#about.page #meet_the_team .team_member img:hover { opacity: 0.3; }
#about.page #meet_the_team .team_member .details { position: relative; padding: 5px 10px 5px 10px; }
#about.page #meet_the_team .team_member .details h4 { font-size: 16px; line-height: 14px; color: #ff4040; }
#about.page #meet_the_team .team_member .details h4 a { color: #707070; }
#about.page #meet_the_team .team_member .details p.position { font-size: 10px; font-weight: bold; color: #ff4040; }
#about.page #meet_the_team .team_member .social_bar { background: #fafafa; padding: 5px 10px 5px 10px; }
#about.page #meet_the_team .team_member .social_bar a.social { margin-right: 10px; font-size: 14px; color: #666; }
#about.page #meet_the_team .team_member .social_bar a.social.tooltip { display: inline-block; }
#about.page #meet_the_team .team_member .social_bar a.social:hover { color: #ff4040; }

#about.page #our_history .year_range { height: 40px; background: #ededed; font-size: 15px; font-weight: bold; color: #777; margin-bottom: 20px; }
#about.page #our_history .year_range .icon { width: 40px; height: 40px; background: #ff4040; font-size: 20px; color: #ffffff; text-align: center; line-height: 40px; margin-right: 5px; }

#about.page #why_choose_us .hex_icon { position: relative; width: 60px; height: 35px; background: #ff4040; text-align: center; margin: 30px auto; }
#about.page #why_choose_us .hex_icon:before, #about.page #why_choose_us .hex_icon:after { position: absolute; width: 0; height: 0; left: 0; content: ""; border-left: 30px solid transparent; border-right: 30px solid transparent; }
#about.page #why_choose_us .hex_icon:before { border-bottom: 18px solid #ff4040; top: -18px; }
#about.page #why_choose_us .hex_icon:after { border-top: 18px solid #ff4040; bottom: -18px; }
#about.page #why_choose_us .hex_icon span.icon { margin-top: 5px; font-size: 24px; color: #fff; }
#about.page #why_choose_us h4.title { color: #fff; }

/* SERVICES
================================================== */
#services .service { text-align: center; }
#services .service .hex_icon { position: relative; width: 80px; height: 46px; background: #555555; text-align: center; margin: 70px auto 30px auto; }
#services .service .hex_icon:before, #services .service .hex_icon:after { position: absolute; width: 0; height: 0; left: 0; content: ""; border-left: 40px solid transparent; border-right: 40px solid transparent; }
#services .service .hex_icon:before { border-bottom: 23px solid #555555; top: -23px; }
#services .service .hex_icon:after { border-top: 23px solid #555555; bottom: -23px; }
#services .service .hex_icon:hover { position: relative; width: 80px; height: 46px; background: #ff4040; }
#services .service .hex_icon:hover:before, #services .service .hex_icon:hover:after { position: absolute; width: 0; height: 0; left: 0; content: ""; border-left: 40px solid transparent; border-right: 40px solid transparent; }
#services .service .hex_icon:hover:before { border-bottom: 23px solid #ff4040; top: -23px; }
#services .service .hex_icon:hover:after { border-top: 23px solid #ff4040; bottom: -23px; }
#services .service .hex_icon span.icon { margin-top: 5px; font-size: 37px; color: #fff; }
#services .service h4 { font-size: 19px; font-weight: bold; }
#services .service p { font-size: 12px; color: #555555; }

#services #need_our_services { text-align: center; }

/* TEAM
================================================== */
#team.page .sub_title { text-align: center; }

#team.page .team_member { position: relative; margin-bottom: 15px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
#team.page .team_member:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
#team.page .team_member img { position: relative; width: 100%; }
#team.page .team_member img:hover { opacity: 0.3; }
#team.page .team_member .details { position: relative; padding: 5px 10px 5px 10px; }
#team.page .team_member .details h4 { font-size: 16px; line-height: 14px; color: #ff4040; }
#team.page .team_member .details h4 a { color: #707070; }
#team.page .team_member .details p.position { font-size: 10px; font-weight: bold; color: #ff4040; }
#team.page .team_member .social_bar { background: #fafafa; padding: 5px 10px 5px 10px; }
#team.page .team_member .social_bar a.social { margin-right: 10px; font-size: 14px; color: #666; }
#team.page .team_member .social_bar a.social.tooltip { display: inline-block; }
#team.page .team_member .social_bar a.social:hover { color: #ff4040; }

#team.page #developers { background: #f3f3f3; padding-top: 20px; padding-bottom: 20px; }
#team.page #developers .team_member { position: relative; margin-bottom: 15px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
#team.page #developers .team_member:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
#team.page #developers .team_member img { position: relative; width: 100%; }
#team.page #developers .team_member img:hover { opacity: 0.3; }
#team.page #developers .team_member .details { position: relative; padding: 5px 10px 5px 10px; background: #fff; }
#team.page #developers .team_member .details h4 { font-size: 16px; line-height: 14px; color: #ff4040; }
#team.page #developers .team_member .details h4 a { color: #707070; }
#team.page #developers .team_member .details p.position { font-size: 10px; font-weight: bold; color: #ff4040; }
#team.page #developers .team_member .social_bar { background: #fafafa; padding: 5px 10px 5px 10px; }
#team.page #developers .team_member .social_bar a.social { margin-right: 10px; font-size: 14px; color: #666; }
#team.page #developers .team_member .social_bar a.social.tooltip { display: inline-block; }
#team.page #developers .team_member .social_bar a.social:hover { color: #ff4040; }

/* PORTFOLIO
================================================== */
.portfolio .portfolio_filter { list-style: none; background: #f6f6f6; margin-bottom: 37px; }
.portfolio .portfolio_filter li { display: inline-block; padding: 0; }
.portfolio .portfolio_filter li a { display: block; padding: 15px; font-family: Roboto, Verdana, sans-serif; font-weight: bold; font-size: 14px; text-transform: uppercase; color: #7f7f7f; text-decoration: none; }
.portfolio .portfolio_filter li a:hover { background: #ececec; }
.portfolio .portfolio_filter li a.selected { background: #ff4040; color: #fff; outline: 0; }
.portfolio .portfolio_filter li a.all i { margin-right: 10px; }

/* portfolio items */
/* .portfolio .portfolio_items .project { margin-bottom: 20px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); } */
/* .portfolio .portfolio_items .project:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); } */
.portfolio .portfolio_items .project img { width: 100%; }
.portfolio .portfolio_items .project img:hover { opacity: 0.2; }
.portfolio .portfolio_items .project .details { background: #fff; padding: 15px; }
.portfolio .portfolio_items .project .details h2 { margin-top: -5px; }
.portfolio .portfolio_items .project .details h2 a { font-size: 12px; color: #707070; }
.portfolio .portfolio_items .project .details h2 a:hover { color: #ff4040; }
.portfolio .portfolio_items .project .details a { color: #b9b9b9; font-size: 14px; text-decoration: none; }
.portfolio .portfolio_items .project .details a.likes { margin-right: 10px; }
.portfolio .portfolio_items .project .summary { background: #fafafa; padding: 12px 15px; line-height: 14px; }
.portfolio .portfolio_items .project .summary a.more { color: #666; text-decoration: none; }
.portfolio .portfolio_items .project .summary a.more:hover { color: #ff4040; }
.portfolio .portfolio_items .project .summary a.more i { font-size: 15px; margin-right: 3px; }
.portfolio .portfolio_items .project .summary a.likes { margin-right: 6px; color: #666; text-decoration: none; }
.portfolio .portfolio_items .project .summary a.likes:hover { color: #ff4040; }
.portfolio .portfolio_items .project .summary a.views { color: #666; text-decoration: none; }
.portfolio .portfolio_items .project .summary a.views:hover { color: #ff4040; }

.portfolio .pagination { margin-left: 16px; }

/* PORTFOLIO ITEM
================================================== */
#portfolio_item.page .project_preview img { width: 100%; }

#portfolio_item.page .project_description .share { position: relative; background: #f3f3f3; padding-top: 20px; padding-bottom: 20px; padding-left: 10px; padding-right: 10px; margin-top: 30px; }
#portfolio_item.page .project_description .share .stButton .stMainServices { height: 22px; }
#portfolio_item.page .project_description .share .stButton .stHBubble { height: 23px; }
#portfolio_item.page .project_description .share ul { list-style: none; float: right; }
#portfolio_item.page .project_description .share ul li { display: inline-block; }
#portfolio_item.page .project_description .share ul li a { font-size: 14px; color: #666; text-decoration: none; }
#portfolio_item.page .project_description .share ul li a:hover { color: #ff4040; }
#portfolio_item.page .project_description .share ul li a.likes { margin-right: 6px; }

#portfolio_item.page .project_details table { width: 100%; border: none; }
#portfolio_item.page .project_details table tr.odd { background: #f8f8f8; }
#portfolio_item.page .project_details table tr td { padding-top: 10px; padding-bottom: 10px; padding-left: 7px; }
#portfolio_item.page .project_details table tr td.title { width: 150px; font-weight: bold; color: #707070; }
#portfolio_item.page .project_details table tr td.title i { margin-right: 5px; }
#portfolio_item.page .project_details table tr td a { color: #929292; }

/*
#portfolio_item.page .related_works .item { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); margin-bottom: 30px; }
#portfolio_item.page .related_works .item:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
*/
#portfolio_item.page .related_works .item img { width: 100%; }
#portfolio_item.page .related_works .item img:hover { background: #000; opacity: 0.2; }
#portfolio_item.page .related_works .item .details { padding: 15px; }
#portfolio_item.page .related_works .item .details h4.title a { color: #707070; text-decoration: none; }
#portfolio_item.page .related_works .item .details h4.title a:hover { color: #ff4040; }
#portfolio_item.page .related_works .item .summary { background: #fafafa; line-height: 13px; padding: 12px 15px; }
#portfolio_item.page .related_works .item .summary a { color: #666; text-decoration: none; }
#portfolio_item.page .related_works .item .summary a:hover { color: #ff4040; }
#portfolio_item.page .related_works .item .summary a.likes { margin-right: 6px; }

/* BLOG
================================================== */
.page .posts { margin-bottom: 50px; }
.page .posts .post { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); margin-bottom: 30px; }
.page .posts .post:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
.page .posts .post .preview img { width: 100%; margin-bottom: 5px; }
.page .posts .post .preview img:hover { background: #000; opacity: 0.2; }
.page .posts .post .details { padding: 10px 15px; }
.page .posts .post .details h4.title a { color: #707070; text-decoration: none; }
.page .posts .post .details h4.title a:hover { color: #ff4040; }
.page .posts .post .details .summary { margin-bottom: 20px; }
.page .posts .post .details .summary a { font-size: 13px; font-weight: bold; color: #aaa; text-decoration: none; margin-right: 15px; }
.page .posts .post .details .summary a:hover { color: #ff4040; }
.page .posts .post .more { background: #fafafa; padding: 12px 15px; line-height: 16px; }
.page .posts .post .more .more_link { color: #666; text-decoration: none; }
.page .posts .post .more .more_link i { margin-right: 5px; }
.page .posts .post .more .more_link:hover { color: #ff4040; }
.page .posts .post .more .share_bar a.social { margin-right: 10px; font-size: 16px; color: #666; }

/* blog sidebar */
.sidebar .widget { border: 1px solid #e9e9e9; padding: 0px 20px 15px 20px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }

.sidebar .search #search_form { position: relative; }
.sidebar .search #q { width: 100%; background: #fff; border: 1px solid #ddd; padding: 10px; font-weight: bold; margin-bottom: 10px; }
.sidebar .search input[type="submit"] { position: absolute; top: 0; right: 5px; background: url("../images/search_icon.png") right no-repeat; width: 38px; height: 38px; font-size: 0; text-ident: -4000px; border: none; }

.sidebar .categories ul { list-style: none; }
.sidebar .categories ul li { border-bottom: 1px solid #e9e9e9; padding-top: 10px; padding-bottom: 10px; }
.sidebar .categories ul li:last-child { border-bottom: none; }
.sidebar .categories ul li a { color: #707070; font-size: 14px; font-weight: bold; }
.sidebar .categories ul li a:hover { color: #ff4040; text-decoration: none; }
.sidebar .categories ul li a i { margin-right: 5px; }
.sidebar .categories ul li a span { float: right; font-size: 12px; font-weight: bold; padding: 2px 6px 1px 5px; }

.sidebar .archive ul { list-style: none; }
.sidebar .archive ul li { border-bottom: 1px solid #e9e9e9; padding-top: 10px; padding-bottom: 10px; }
.sidebar .archive ul li:last-child { border-bottom: none; }
.sidebar .archive ul li a { color: #707070; font-size: 14px; font-weight: bold; }
.sidebar .archive ul li a:hover { color: #ff4040; text-decoration: none; }
.sidebar .archive ul li a i { margin-right: 5px; }
.sidebar .archive ul li a span { float: right; font-size: 12px; font-weight: bold; padding: 2px 6px 1px 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.sidebar .tweets { border: 1px solid #e9e9e9; padding: 5px 20px 5px 20px; }
.sidebar .tweets #latest_tweets { margin-bottom: 10px; }
.sidebar .tweets #latest_tweets ul { list-style: none; }
.sidebar .tweets #latest_tweets ul li { margin-bottom: 15px; }
.sidebar .tweets #latest_tweets ul li a { color: #707070; font-weight: bold; text-decoration: none; }
.sidebar .tweets #latest_tweets ul li a:hover { color: #ff4040; }
.sidebar .tweets #latest_tweets ul li a.tweet_avatar img { margin-right: 7px; margin-bottom: 5px; }

.sidebar .tag_cloud { border: 1px solid #e9e9e9; padding: 5px 20px 10px 20px; }
.sidebar .tag_cloud a { display: inline-block; background: #fafafa; color: #707070; border: 1px solid #efefef; border-radius: 3px; margin-bottom: 9px; margin-right: 5px; padding: 6px 8px; text-decoration: none; }
.sidebar .tag_cloud a:hover { background: #ff4040; border: 1px solid #ff4040; color: #fff; }

/* BLOG POST
================================================== */
#blog_post.page .author { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); margin-bottom: 30px; padding: 5px 15px; }
#blog_post.page .author:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
#blog_post.page .author .details img.avatar { width: 110px; height: 110px; border-radius: 50%; }
#blog_post.page .author .social_icons { list-style: none; border-top: 1px solid #e1e1e1; margin-top: 20px; padding-top: 20px; }
#blog_post.page .author .social_icons li { display: inline-block; }
#blog_post.page .author .summary { background: #fafafa; padding: 12px 15px; }

#blog_post.page .comments { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); margin-bottom: 30px; padding: 5px 15px; }
#blog_post.page .comments:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
#blog_post.page .comments ul.listing { list-style: none; margin-bottom: 20px; }
#blog_post.page .comments ul.listing li { margin-bottom: 30px; }
#blog_post.page .comments ul.listing li img.avatar { width: 54px; height: 54px; border-radius: 50%; margin-right: 10px; }
#blog_post.page .comments ul.listing li .comment h5 span.time { font-size: 13px; font-weight: normal; }
#blog_post.page .comments ul.listing li .comment h5 span.time a { color: #ff4040; }
#blog_post.page .comments ul.listing li ul.reply { list-style: none; margin-top: 30px; margin-bottom: 20px; margin-left: 60px; }

#blog_post.page .leave_reply { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); margin-bottom: 30px; padding: 5px 15px; }
#blog_post.page .leave_reply:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
#blog_post.page .leave_reply #reply_form #reply_send:hover { background: #ff4040; border-bottom: 4px solid #ff0d0d; }

/* SHOP
================================================== */
#shop.page .product_items .item { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); margin-bottom: 25px; }
#shop.page .product_items .item:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
#shop.page .product_items .item img { width: 100%; }
#shop.page .product_items .item img:hover { background: #000; opacity: 0.2; }
#shop.page .product_items .item .details { padding: 15px; }
#shop.page .product_items .item .details h4.title a { color: #707070; text-decoration: none; }
#shop.page .product_items .item .details h4.title a:hover { color: #ff4040; }
#shop.page .product_items .item .details span.price_old { display: inline-block; font-size: 16px; color: #8a8a8a; font-weight: bold; text-decoration: line-through; margin-right: 7px; }
#shop.page .product_items .item .details span.price { font-size: 16px; color: #ff4040; font-weight: bold; }
#shop.page .product_items .item .summary { background: #fafafa; padding: 12px 15px 12px 15px; line-height: 13px; }
#shop.page .product_items .item .summary a.more { display: inline-block; margin-top: 3px; color: #666; text-decoration: none; }
#shop.page .product_items .item .summary a.more:hover { color: #ff4040; }
#shop.page .product_items .item .summary a.more i { margin-right: 3px; font-size: 14px; }
#shop.page .product_items .item .summary a.wishlist { margin-right: 5px; color: #666; }
#shop.page .product_items .item .summary a.wishlist:hover { color: #ff4040; }
#shop.page .product_items .item .summary a.compare { font-size: 17px; color: #666; }
#shop.page .product_items .item .summary a.compare:hover { color: #ff4040; }

#shop.page .product_items .pagination { margin-left: 15px; }

/* shop sidebar */
.shop_sidebar .widget { border: 1px solid #e9e9e9; padding: 0px 20px 15px 20px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }

.shop_sidebar .cart ul.items { list-style: none; }
.shop_sidebar .cart ul.items li { clear: both; margin-bottom: 25px; }
.shop_sidebar .cart ul.items li a { display: block; color: #707070; font-size: 14px; font-weight: bold; text-decoration: none; }
.shop_sidebar .cart ul.items li a:hover { color: #ff4040; }
.shop_sidebar .cart ul.items li a img { float: left; max-width: 50px; height: auto; margin-right: 10px; }
.shop_sidebar .cart .cart_sum { background: #fafafa; padding: 5px; margin-bottom: 10px; }
.shop_sidebar .cart .cart_sum .amount { margin-left: 5px; font-weight: bold; color: #ff4040; }

.shop_sidebar .price_filter #amount { background: #fff; border: none; text-align: right; font-weight: bold; }
.shop_sidebar .price_filter .ui-slider { margin-top: 10px; margin-bottom: 25px; background: #dfdfdf; border: none; height: 7px; }
.shop_sidebar .price_filter .ui-slider-range { background: #ff4040; }
.shop_sidebar .price_filter .ui-slider-handle { border-radius: 50%; background: #cecece; border: 5px solid #696969; }

.shop_sidebar .categories ul { list-style: none; }
.shop_sidebar .categories ul li { border-bottom: 1px solid #e9e9e9; padding-top: 10px; padding-bottom: 10px; }
.shop_sidebar .categories ul li:last-child { border-bottom: none; }
.shop_sidebar .categories ul li a { color: #707070; font-size: 14px; font-weight: bold; }
.shop_sidebar .categories ul li a:hover { color: #ff4040; text-decoration: none; }
.shop_sidebar .categories ul li a i { margin-right: 5px; }
.shop_sidebar .categories ul li a span { float: right; font-size: 12px; font-weight: bold; }

.shop_sidebar .popular ul.items { list-style: none; }
.shop_sidebar .popular ul.items li { clear: both; margin-bottom: 10px; }
.shop_sidebar .popular ul.items li a { display: block; color: #707070; font-size: 14px; font-weight: bold; text-decoration: none; }
.shop_sidebar .popular ul.items li a:hover { color: #ff4040; }
.shop_sidebar .popular ul.items li a img { float: left; max-width: 50px; height: auto; margin-top: 3px; margin-right: 10px; }
.shop_sidebar .popular ul.items li span.rating { display: block; color: #ff4040; }
.shop_sidebar .popular ul.items li span.price { display: block; }

/* SHOP PRODUCT
================================================== */
#shop_product.page .preview img { width: 100%; }

#shop_product.page .details h1.title { margin-top: 0; margin-bottom: 20px; }
#shop_product.page .details .rating { display: inline-block; margin-right: 20px; }
#shop_product.page .details .rating i { color: #ff4040; }
#shop_product.page .details .reviews { display: inline-block; }
#shop_product.page .details .reviews a { color: #707070; text-decoration: none; }
#shop_product.page .details .reviews a:hover { color: #ff4040; }
#shop_product.page .details .amount { margin-top: 10px; margin-bottom: 20px; font-size: 30px; color: #707070; }
#shop_product.page .details .summary { margin-bottom: 20px; }
#shop_product.page .details a.wishlist { display: inline-block; margin-right: 10px; margin-bottom: 20px; color: #707070; text-decoration: none; font-weight: bold; }
#shop_product.page .details a.wishlist:hover { color: #ff4040; }
#shop_product.page .details a.compare { color: #707070; text-decoration: none; font-weight: bold; }
#shop_product.page .details a.compare:hover { color: #ff4040; }
#shop_product.page .details a.compare i { font-size: 15px; }
#shop_product.page .details .cart_qty { height: 30px; }
#shop_product.page .details .cart_qty .qty_minus { display: inline-block; width: 40px; height: 40px; vertical-align: middle; background: #ececec; border: 1px solid #e1e1e1; color: #707070; text-align: center; margin-right: -3px; line-height: 40px; }
#shop_product.page .details .cart_qty .qty_minus:hover { background: #e3e3e3; }
#shop_product.page .details .cart_qty .quantity { display: inline-block; width: 40px; height: 40px; vertical-align: middle; border: 1px solid #e1e1e1; border-left: none; border-right: none; margin-right: -4px; text-align: center; }
#shop_product.page .details .cart_qty .quantity { font-size: 16px; font-weight: bold; line-height: 40px; }
#shop_product.page .details .cart_qty .qty_plus { display: inline-block; width: 40px; height: 40px; vertical-align: middle; background: #ececec; border: 1px solid #e1e1e1; color: #707070; text-align: center; line-height: 40px; }
#shop_product.page .details .cart_qty .qty_plus:hover { background: #e3e3e3; }
#shop_product.page .details .cart_qty .add_to_cart { padding: 10px 16px 12px 16px; margin-left: 5px; }

#shop_product.page .tabs .tab-content .tab-pane#reviews ul { list-style: none; }
#shop_product.page .tabs .tab-content .tab-pane#reviews ul li { margin-bottom: 30px; }
#shop_product.page .tabs .tab-content .tab-pane#reviews ul li img.avatar { width: 54px; height: 54px; border-radius: 50%; margin-right: 10px; }
#shop_product.page .tabs .tab-content .tab-pane#reviews ul li .comment h5 span.time { font-size: 13px; font-weight: normal; }
#shop_product.page .tabs .tab-content .tab-pane#reviews ul li .comment h5 span.time span.rating { color: #ff4040; }

#shop_product.page .related h3.block_title { margin-left: 15px; }
#shop_product.page .related .item { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); margin-bottom: 25px; }
#shop_product.page .related .item:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
#shop_product.page .related .item img { width: 100%; }
#shop_product.page .related .item img:hover { background: #000; opacity: 0.2; }
#shop_product.page .related .item .details { padding: 15px; }
#shop_product.page .related .item .details h4.title a { color: #707070; text-decoration: none; }
#shop_product.page .related .item .details h4.title a:hover { color: #ff4040; }
#shop_product.page .related .item .details span.price_old { display: inline-block; font-size: 16px; color: #8a8a8a; font-weight: bold; text-decoration: line-through; margin-right: 7px; }
#shop_product.page .related .item .details span.price { font-size: 16px; color: #ff4040; font-weight: bold; }
#shop_product.page .related .summary { background: #fafafa; padding: 12px 15px 12px 15px; line-height: 13px; }
#shop_product.page .related .summary a.more { display: inline-block; margin-top: 3px; color: #666; text-decoration: none; }
#shop_product.page .related .summary a.more:hover { color: #ff4040; }
#shop_product.page .related .summary a.more i { margin-right: 3px; font-size: 14px; }
#shop_product.page .related .summary a.wishlist { margin-right: 5px; color: #666; }
#shop_product.page .related .summary a.wishlist:hover { color: #ff4040; }
#shop_product.page .related .summary a.compare { font-size: 17px; color: #666; }
#shop_product.page .related .summary a.compare:hover { color: #ff4040; }

/* SHOP CART
================================================== */
#shop_cart.page .cart_items th { background: #505050; color: #fff; border: 1px solid #505050; border-bottom: none; padding: 15px 15px; font-size: 13px; text-transform: uppercase; }
#shop_cart.page .cart_items th.delete { width: 60px; }
#shop_cart.page .cart_items th.image { width: 120px; }
#shop_cart.page .cart_items th.price { width: 150px; }
#shop_cart.page .cart_items th.qty { width: 200px; }
#shop_cart.page .cart_items th.total { width: 150px; }
#shop_cart.page .cart_items td { vertical-align: middle; padding: 15px 15px; color: #707070; font-size: 14px; font-weight: bold; }
#shop_cart.page .cart_items td.delete { text-align: center; }
#shop_cart.page .cart_items td.delete a { color: #707070; font-size: 24px; }
#shop_cart.page .cart_items td.delete a:hover { color: #ff4040; }
#shop_cart.page .cart_items td.image { text-align: center; }
#shop_cart.page .cart_items td.product a { color: #707070; text-decoration: none; }
#shop_cart.page .cart_items td.product a:hover { color: #ff4040; }
#shop_cart.page .cart_items td.qty { height: 30px; }
#shop_cart.page .cart_items td.qty .qty_minus { display: inline-block; width: 40px; height: 40px; vertical-align: middle; background: #ececec; border: 1px solid #e1e1e1; color: #707070; text-align: center; margin-right: -4px; line-height: 40px; }
#shop_cart.page .cart_items td.qty .qty_minus:hover { background: #e3e3e3; }
#shop_cart.page .cart_items td.qty .quantity { display: inline-block; width: 40px; height: 40px; vertical-align: middle; border: 1px solid #e1e1e1; border-left: none; border-right: none; margin-right: -4px; text-align: center; }
#shop_cart.page .cart_items td.qty .quantity { font-size: 16px; font-weight: bold; line-height: 40px; }
#shop_cart.page .cart_items td.qty .qty_plus { display: inline-block; width: 40px; height: 40px; vertical-align: middle; background: #ececec; border: 1px solid #e1e1e1; color: #707070; text-align: center; line-height: 40px; }
#shop_cart.page .cart_items td.qty .qty_plus:hover { background: #e3e3e3; }
#shop_cart.page .cart_items td.qty .add_to_cart { padding: 10px 16px 12px 16px; margin-left: 5px; }

#shop_cart.page .cart_actions { vertical-align: top; width: 100%; }
#shop_cart.page .cart_actions td.coupon input.coupon_field { position: absolute; bottom: 0; left: 15px; width: 220px; height: 38px; }
#shop_cart.page .cart_actions td.coupon a.coupon_btn { position: absolute; bottom: 0; left: 245px; }

#shop_cart.page .cart_totals th { background: #505050; color: #fff; border: 1px solid #666; padding-top: 21px; padding-bottom: 21px; padding-left: 20px; }
#shop_cart.page .cart_totals td { vertical-align: middle; color: #707070; font-size: 14px; font-weight: bold; padding-left: 20px; }

/* SHOP WISHLIST
================================================== */
#shop_wishlist.page .wishlist_items th { background: #505050; color: #fff; border: 1px solid #505050; border-bottom: none; padding: 15px 15px; font-size: 13px; text-transform: uppercase; }
#shop_wishlist.page .wishlist_items th.delete { width: 60px; }
#shop_wishlist.page .wishlist_items th.image { width: 120px; }
#shop_wishlist.page .wishlist_items th.price { width: 150px; }
#shop_wishlist.page .wishlist_items th.stock { width: 150px; }
#shop_wishlist.page .wishlist_items th.actions { width: 200px; }
#shop_wishlist.page .wishlist_items td { vertical-align: middle; padding: 15px 15px; color: #707070; font-size: 14px; font-weight: bold; }
#shop_wishlist.page .wishlist_items td.delete { text-align: center; }
#shop_wishlist.page .wishlist_items td.delete a { color: #707070; font-size: 24px; }
#shop_wishlist.page .wishlist_items td.delete a:hover { color: #ff4040; }
#shop_wishlist.page .wishlist_items td.image { text-align: center; }
#shop_wishlist.page .wishlist_items td.product a { color: #707070; text-decoration: none; }
#shop_wishlist.page .wishlist_items td.product a:hover { color: #ff4040; }
#shop_wishlist.page .wishlist_items td.actions { text-align: center; }

/* SHOP COMPARE
================================================== */
#shop_compare.page .compare_items th { background: #505050; color: #fff; border: 1px solid #505050; border-bottom: none; padding: 15px 15px; font-size: 13px; text-transform: uppercase; text-align: center; }
#shop_compare.page .compare_items td.attribute { font-weight: bold; text-transform: uppercase; }
#shop_compare.page .compare_items td.item { width: 310px; text-align: center; }
#shop_compare.page .compare_items tr.product td.item a { font-size: 14px; font-weight: bold; color: #707070; text-decoration: none; }
#shop_compare.page .compare_items tr.product td.item a:hover { color: #ff4040; }
#shop_compare.page .compare_items tr.price td.item { font-size: 14px; font-weight: bold; }
#shop_compare.page .compare_items tr.price td.item span.price_old { text-decoration: line-through; margin-right: 10px; }
#shop_compare.page .compare_items tr.availability td.item span.in_stock { color: #009900; }
#shop_compare.page .compare_items tr.availability td.item span.out_of_stock { color: red; }
#shop_compare.page .compare_items tr.rating td.item span.rating { color: #ff4040; }

/* SHORTCODES
================================================== */
#shortcodes.page .social_icons { list-style: none; }
#shortcodes.page .social_icons li { display: inline-block; }

/* CONTACT
================================================== */
#contact.page #map { width: 100%; height: 300px; overflow: hidden; margin-top: -31px; }

#contact.page #contact_form #responce ul.contact_error { list-style: none; background: #f2dede; border-left: 4px solid #a94442; color: #a94442; padding: 15px; }
#contact.page #contact_form #responce ul.contact_success { list-style: none; background: #dff0d8; border-left: 4px solid #3c763d; color: #3c763d; padding: 15px; }
#contact.page #contact_form .email_block { margin-left: 0 !important; padding-left: 0 !important; }
#contact.page #contact_form #contact_send { outline: 0; }
#contact.page #contact_form #contact_send:hover { background: #ff4040; border-bottom: 4px solid #ff0d0d; }
#contact.page #contact_form #contact_send i { margin-right: 5px; }

#contact.page .sidebar { margin-top: 25px; }
#contact.page .sidebar .widget { border: 1px solid #e9e9e9; padding: 0px 20px 15px 20px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
#contact.page .sidebar ul.office { list-style: none; }
#contact.page .sidebar ul.office li { margin-bottom: 10px; }
#contact.page .sidebar ul.office li strong { color: #707070; }
#contact.page .sidebar ul.office li i { font-size: 16px; }
#contact.page .sidebar ul.social_icons { list-style: none; }
#contact.page .sidebar ul.social_icons li { display: inline-block; }

/* FOOTER
================================================== */
#footer { background: #555555; padding-top: 39px; padding-bottom: 47px; color: #ffffff; }
#footer .heading { position: relative; font-size: 16px; color: #dedede; margin-bottom: 29px; }
#footer .heading:after { position: absolute; bottom: -11px; left: 0; text-align: center; width: 41px; height: 2px; background: #ff4040; content: " "; }
#footer .contact_us ul { list-style: none; }
#footer .contact_us ul li { padding-left: 25px; padding-bottom: 20px; }
#footer .contact_us ul li.address { background: url("../images/footer_address_icon.png") no-repeat; }
#footer .contact_us ul li.email { background: url("../images/footer_email_icon.png") no-repeat; }
#footer .contact_us ul li.phone { background: url("../images/footer_phone_icon.png") no-repeat; }
#footer .hot_tags a { display: inline-block; padding: 8px; background: #363636; color: #ffffff; text-decoration: none; margin-right: 5px; margin-bottom: 9px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#footer .hot_tags a:hover { background: #ff4040; }
#footer .twitter_feed ul.tweet_list { list-style: none; }
#footer .twitter_feed ul.tweet_list li { margin-bottom: 10px; }
#footer .twitter_feed ul.tweet_list li a { color: #929292; }
#footer .twitter_feed ul.tweet_list li a:hover { color: #ff4040; }
#footer .twitter_feed ul.tweet_list li a.tweet_avatar { margin-right: 5px; }
#footer #flickr_feed { list-style: none; }
#footer #flickr_feed li { float: left; margin-right: 10px; margin-bottom: 10px; }
#footer #flickr_feed li img { width: 70px; height: 70px; border: 3px solid #7e7e7e; }
#footer #flickr_feed li img:hover { border: 3px solid #ff4040; }

#sub_footer { background: #fff; padding-top: 34px; padding-bottom: 27px; height: 80px; }
#sub_footer .menu { text-align: right; }
#sub_footer .menu ul li { display: inline-block; margin-right: 5px; }
#sub_footer .menu ul li:last-child:after { content: " "; }
#sub_footer .menu ul li:after { padding-left: 5px; content: " / "; }
#sub_footer .menu ul li a { color: #929292; }

/* RESPONSIVE MEDIA QUERIES
================================================== */
@media only screen and (min-width: 991px) and (max-width: 1200px) { .sidebar .categories ul li a { font-size: 12px; }
  .sidebar .categories ul li a span { padding-top: 0; }
  .sidebar .archive ul li a { font-size: 12px; }
  .sidebar .archive ul li a span { padding-top: 0; } }
@media only screen and (min-width: 961px) and (max-width: 991px) { #header #top_bar { display: none; }
  #header #nav_bar #mobile_menu { position: absolute; display: inline-block; top: 21px; right: 115px; background: #e9e9e9; color: #808080; padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
  #header #nav_bar #mobile_menu:hover { background: #555; color: #fff; }
  #header #nav_bar ul#nav { display: none; }
  #featured_block ul.breadcrumb { clear: left; float: left !important; }
  #home.page #about_us #recent_news .news_item { margin-bottom: 20px; }
  #home.page #about_us #recent_news .news_item:last-child { margin-bottom: 50px; }
  #blog_post.page .leave_reply .email_block { padding-left: 0 !important; margin-left: 0 !important; margin-top: 20px; }
  #contact.page #contact_form .email_block { margin-top: 20px; }
  #footer .hot_tags .heading { margin-top: 40px; }
  #footer .latest_tweets .heading { margin-top: 35px; }
  #footer .flickr_photos .heading { margin-top: 40px; } }
@media only screen and (min-width: 960px) { #home.page #featured_clients .col-md-3 { text-align: center; } }
@media only screen and (min-width: 768px) and (max-width: 960px) { #header #top_bar { display: none; }
  #header #nav_bar #mobile_menu { position: absolute; display: inline-block; top: 21px; right: 15px; background: #e9e9e9; color: #808080; padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
  #header #nav_bar #mobile_menu:hover { background: #555; color: #fff; }
  #header #nav_bar ul#nav { display: none; }
  #featured_block ul.breadcrumb { clear: left; float: left !important; }
  #home.page #about_us #recent_news .news_item { margin-bottom: 20px; }
  #home.page #about_us #recent_news .news_item:last-child { margin-bottom: 50px; }
  #home.page #featured_clients .col-md-3 { text-align: center; }
  #blog_post.page .leave_reply .email_block { padding-left: 0 !important; margin-left: 0 !important; margin-top: 20px; }
  #contact.page #contact_form .email_block { margin-top: 20px; }
  #footer .hot_tags .heading { margin-top: 40px; }
  #footer .latest_tweets .heading { margin-top: 35px; }
  #footer .flickr_photos .heading { margin-top: 40px; } }
@media only screen and (max-width: 767px) { #header #nav_bar #mobile_menu { position: absolute; display: inline-block; top: 21px; right: 15px; background: #e9e9e9; color: #808080; padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
  #header #nav_bar #mobile_menu:hover { background: #555; color: #fff; }
  #header #nav_bar ul#nav { display: none; }
  #featured_block ul.breadcrumb { clear: left; float: left !important; }
  #home.page #recent_work .recent_work_item { margin-bottom: 20px; }
  #home.page #about_us #recent_news .news_item { margin-bottom: 20px; }
  #home.page #about_us #recent_news .news_item:last-child { margin-bottom: 50px; }
  #home.page #services_and_skills #what_we_offer .services .col-md-6:nth-child(2) { padding: 0 !important; margin: 0 !important; }
  #home.page #featured_clients .col-md-3 { text-align: center; }
  #blog_post.page .leave_reply .email_block { padding-left: 0 !important; margin-left: 0 !important; margin-top: 20px; }
  #contact.page #contact_form .email_block { margin-top: 20px; }
  #footer .hot_tags .heading { margin-top: 40px; }
  #footer .latest_tweets .heading { margin-top: 35px; }
  #footer .flickr_photos .heading { margin-top: 40px; }
  #sub_footer { padding-top: 20px; }
  #sub_footer .menu { margin-top: 10px; text-align: left; } }
@media only screen and (max-width: 479px) { #home.page #services_and_skills #what_we_offer .services .col-md-6:nth-child(2) { padding: 0 !important; margin: 0 !important; } }
